body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑";
    font-size: 14px;
}
ul{
	list-style: none;
}
a{
    color: #666666;
	text-decoration: none;
}
img{
	border: none;
}
input{
    outline:none;
}
i{
    font-style: normal;
}
//top
.top{
    width: 1200px;
    position: relative;
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
    .logo{
        width: 236px;
        height: 52px;
        margin-top: 24px;
        float: left;
        a{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .adv{
        height: 26px;
        margin-top: 37px;
        float: right;
        li{
            position: relative;
            float: left;
            height: 26px;
            margin-left: 40px;
            padding-left: 35px;
            overflow: hidden;
            i{
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 100%;
            }
            span{
                display: inline-block;
                height: 100%;
                line-height: 26px;
                line-height: 29px;
                font-size: 18px;
                color: #666666;
            }
        }
        .adv-1{
            i{
                background: url(../img/login-icon.png) no-repeat -211px -45px;
            }
        }
        .adv-2{
            i{
                background: url(../img/login-icon.png) no-repeat -118px -45px;
            }
        }
        .adv-3{
            i{
                background: url(../img/login-icon.png) no-repeat -164px -45px;
            }
        }
        .adv-4{
            i{
                background: url(../img/login-icon.png) no-repeat -260px -45px;
            }
        }
    }
}
//container
.container{
    margin-top: 80px;
    border-top: 1px solid #ccc;
    position: relative;
    clear: both;
    .register-box{
        width: 850px;
        margin: 0 auto;
        padding-bottom: 20px;
        .register-contain{
            width: 850px;
            margin: 0 auto;
            .reg{
                position: relative;
                width: 100%;
                margin: 0 auto;
                .reg-step{
                    position: absolute;
                    left: 0;
                    top: -79px;
                    width: 850px;
                    height: 52px;
                    font-size: 20px;
                    color: #999;
                    ul{
                        .reg-one{
                            color: #666;
                            border-bottom: 2px solid #e60012;
                        }
                        li{
                            float: left;
                            width: 33.3%;
                            height: 100%;
                            line-height: 52px;
                            text-align: left;
                            i{
                                float: left;
                                width: 30px;
                                height: 30px;
                                margin: 11px 10px 0 80px;
                                background: url(../img/findPW-icon.png) no-repeat;
                            }
                            .reg-a{
                                background-position: -40px -30px;
                                background-size: 474px 220px;
                            }
                            .reg-b{
                                margin: 11px 10px 0 70px;
                                background-position: -181px -41px;
                            }
                            .reg-c{
                                background-position: -327px -41px;
                            }
                        }
                    }
                }
                .reg-l{
                    width: 220px;
                    float: left;
                    ul{
                        .reg-info{
                            display: inline-block;
                            width: 100%;
                            height: 40px;
                            line-height: 40px;
                            text-align: right;
                            font-size: 14px;
                            color: #666;
                            margin-bottom: 35px;
                            i{
                                font-size: 14px;
                                color: #cb384b;
                            }
                        }
                    }
                }
                .reg-r{
                    width: 610px;
                    float: right;
                    ul{
                        .reg-form{
                            float: left;
                            position: relative;
                            width: 100%;
                            height: 40px;
                            margin-bottom: 35px;
                            input{
                                width: 385px;
                                height: 20px;
                                border: 1px solid #cccccc;
                                font-size: 14px;
                                line-height: 18px;
                                padding: 10px;
                            }
                            .reg-cue{
                                position: absolute;
                                right: -245px;
                                top: 0;
                                display: inline-block;
                                width: 430px;
                                height: 40px;
                                line-height: 40px;
                                font-size: 14px;
                                color: #999999;
                                i{
                                    float: left;
                                    width: 35px;
                                    height: 40px;
                                    background: url(../img/register-icon.png) no-repeat -20px -23px;
                                }
                            }
                            .orange{
                                color: #e60012;
                                i{
                                    background: url(../img/jinyong.png) no-repeat 10px 12px;
                                }
                            }
                            .ipt-imgbar{
                                float: left;
                                width: 160px;
                                margin-right: 20px;
                                padding-left: 10px;
                            }
                            .ipt-msgbar{
                                float: left;
                                width: 245px;
                                margin-right: 20px;
                                padding-left: 10px;
                            }
                            .msgbar{
                                display: block;
                                float: left;
                                width: 140px;
                                height: 40px;
                                line-height: 40px;
                                border: 1px solid #cccccc;
                                font-size: 14px;
                                color: #666;
                                background: #f1f1f1;
                                text-align: center;
                                cursor: pointer;
                            }
                        }
                        #reg-imgbar{
                            img{
                                float: left;
                                width: 98px;
                                height: 40px;
                                margin-right: 18px;
                            }
                        }
                    }
                }
                .gonext{
                    width: 200px;
                    height: 50px;
                    font-size: 18px;
                    color: #ffffff;
                    line-height: 50px;
                    background-color: #e60012;
                    border: none;
                    margin: 80px 55px 50px 240px;
                    cursor: pointer;
                }
                .gologin{
                    color: #666;
                    a{
                        color: #014099;
                    }
                }
            }
        }
    }
}
//foot
.foot{
    width: 1200px;
    margin: 30px auto;
    text-align: center;
    ul{
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        width: 100%;
        margin: 6px auto;
        li{
            height: 14px;
            margin-right: 15px;
            float: left;
            color: rgb(153,153,153);
            text-align: center;
            width: 100%;
            font-size: 12px;
        }
    }
}